
.b-input-group label[data-v-4858c689] {
  color: #333;
  display: block;
  font-size: 0.825rem;
  font-weight: bold;
  padding: 0.6rem 0 0.4rem;
}
.b-input-group.b-input-group--disabled label[data-v-4858c689] {
  color: #999;
}
.b-input-group textarea[data-v-4858c689] {
  border: 1px solid rgba(138,138,138,0.6);
  border-radius: 0.25rem;
  font-size: 0.87rem;
  padding: 0.7rem;
}
.b-input-group[data-v-4858c689] ::-webkit-input-placeholder {
  font-size: 0.8rem;
}
.b-input-group[data-v-4858c689] :-ms-input-placeholder {
  font-size: 0.8rem;
}
.b-input-group[data-v-4858c689] ::-ms-input-placeholder {
  font-size: 0.8rem;
}
.b-input-group[data-v-4858c689] ::placeholder {
  font-size: 0.8rem;
}
.b-input-group.b-input-group--disabled textarea[data-v-4858c689] {
  border-color: rgba(138,138,138,0.3);
}
.b-input-group.b-input-group--disabled textarea[data-v-4858c689]:hover {
  cursor: not-allowed;
}
.b-input-group.b-input-group--disabled[data-v-4858c689] ::-webkit-input-placeholder {
  color: #bbb;
}
.b-input-group.b-input-group--disabled[data-v-4858c689] :-ms-input-placeholder {
  color: #bbb;
}
.b-input-group.b-input-group--disabled[data-v-4858c689] ::-ms-input-placeholder {
  color: #bbb;
}
.b-input-group.b-input-group--disabled[data-v-4858c689] ::placeholder {
  color: #bbb;
}
.b-error textarea[data-v-4858c689] {
  border: 1px solid #f00;
}
