$cerulean = #00aaed
$cornflower-blue = #4D90FE
$night-rider = #333333
$thunder = #363436
$scorpion = #605D60
$fedora = #6B686B
$mountain-mist = #A1A0A2
$silver = #C1C1C1
$pale-slate = #c4c3c4
$venetian-red = #D0021B
$iron = #dde0e0
$quartz = #DEDEDF
$athens-grey = #f5f6f8
$white = #FFFFFF

/** GENERAL **/
$text = $thunder
$placeholder = $mountain-mist
$error = $venetian-red
$focus = $cornflower-blue
$disabled-background = $white
$disabled-color = $night-rider

/** BUTTON **/
$button-background = $white
$button-border = $quartz

/** INPUT **/
$input-background = $athens-grey
$input-shadow = $pale-slate
$input-focus = $cerulean
$input-placeholder = $fedora
$input-disabled-background = $iron
$input-disabled-text = $scorpion
