$cerulean = #00aaed
$cerulean-2 = #00a9f0
$curious-blue = #1FA6DF
$picton-blue = #20ADED
$cornflower-blue = #4D90FE
$night-rider = #333333
$thunder = #363436
$emperor = #504E50
$scorpion = #605D60
$ironside-gray = #646261
$fedora = #6B686B
$mountain-mist = #A1A0A2
$silver = #C1C1C1
$pale-slate = #c4c3c4
$venetian-red = #D0021B
$iron = #dde0e0
$quartz = #DEDEDF
$athens-gray = #f5f6f8
$white = #FFFFFF

/** GENERAL **/
$text = $thunder
$placeholder = $mountain-mist
$error = $venetian-red
$focus = $cornflower-blue
$disabled-background = $white
$disabled-color = $night-rider

/** DEPRECATED **/
$old-button-background = $white
$old-button-border = $quartz

/** BUTTON **/
$button-background = $cerulean
$button-background-disabled = $pale-slate
$button-text = $white
$button-text-disabled = $fedora
$button-background-active = $curious-blue
$button-background-focus = $cerulean-2
$secondary-button-background = $ironside-gray
$secondary-button-background-active = $emperor
$secondary-button-background-focus = $fedora
$tertiary-button-text = $cerulean
$tertiary-button-text-active = $curious-blue

/** INPUT **/
$input-background = $athens-gray
$input-border = $pale-slate
$input-disabled-background = $iron
$input-disabled-border = $iron
$input-disabled-text = $scorpion
$input-focus = $cerulean
$input-placeholder = $fedora
$input-shadow = $pale-slate

/** CHECKBOX **/
$checkbox-border = $pale-slate
$checkbox-check = $picton-blue

/** RADIO **/
$radio-dot = $cerulean
$radio-border = $pale-slate

/** ACCORDION **/
$accordion-background = $white
$accordion-border = $thunder
