body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  flex-direction: column;
}

header h1 {
  text-align: center
}

section {
  display: flex;
  flex-direction: column;
  flex: 1;
}

section nav {
  padding: 5px 0;
  background: rgba(0, 0, 127, 0.5);
}

@media (min-width:768px) {
  section {
    flex-direction: row;
    flex: 1;
  }
  section main {
    flex: 1;
  }
  section nav, section aside {
    flex: 0 0 12em;
  }
}