
.b-checkbox[data-v-1f76c7ec] {
  margin-bottom: 0.75rem;
}
.b-checkbox-group-label[data-v-1f76c7ec] {
  margin: 0 0 1rem 0;
}
label[data-v-1f76c7ec] {
  margin-right: 1.25rem;
  padding: 0;
}
input[data-v-1f76c7ec] {
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #c4c3c4;
  border-radius: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 0.875rem;
  margin: 0 0.75rem 0 0;
  padding: 0.375rem;
}
input[data-v-1f76c7ec]:checked {
  padding: 0 0.092rem;
}
input[data-v-1f76c7ec]:checked::before {
  color: #20aded;
  content: "\F3FD";
  font-family: "Ionicons";
  font-size: 1.6em;
  line-height: 0.9rem;
}
input[data-v-1f76c7ec]:focus {
  border-bottom: 1px solid #00aaed;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.b-input[data-v-f479db88] {
  margin-bottom: 0.75rem;
}
.b-currency[data-v-f479db88] {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  cursor: text;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.b-currency.b-focus[data-v-f479db88] {
  -webkit-box-shadow: inset 0 -1px 0 0 #00aaed;
          box-shadow: inset 0 -1px 0 0 #00aaed;
  border: solid 1px #00aaed;
  outline: none;
}
.b-currency.b-disabled[data-v-f479db88] {
  background: #dde0e0;
  cursor: not-allowed;
  opacity: 0.4;
}
.b-currency input[data-v-f479db88] {
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
}
.b-currency input[data-v-f479db88]:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
input[type="date"][data-v-f479db88] {
  padding-top: 0.594rem;
  padding-bottom: 0.594rem;
}body {
  color: #363436;
  font-size: 87.5%;
  font-family: 'Open Sans', sans-serif;
}
.flex,
.b-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.column,
.b-flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.b-flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.b-flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
input,
.input,
textarea,
button,
.b-input-el {
  font: 400 1em 'Open Sans', sans-serif;
}
button {
  background-color: #fff;
  border: solid 1px #dededf;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.857rem;
}
button:not([disabled]):active {
  border-style: inset;
}
input,
textarea,
.input,
.b-input-el {
  background-color: #f5f6f8;
  border: 1px solid #f5f6f8;
  -webkit-box-shadow: inset 0 -2px 0 0 #c4c3c4;
          box-shadow: inset 0 -2px 0 0 #c4c3c4;
  padding: 0.75rem 0.9375rem;
}
input:focus,
.input:focus,
textarea:focus,
.b-input-el:focus {
  -webkit-box-shadow: inset 0 -1px 0 0 #00aaed;
          box-shadow: inset 0 -1px 0 0 #00aaed;
  border: solid 1px #00aaed;
  outline: none;
}
input:disabled,
textarea:disabled {
  background: #dde0e0;
  border-color: #dde0e0;
  color: #605d60;
  cursor: not-allowed;
  opacity: 1;
}
input::-webkit-input-placeholder,
.input::-webkit-input-placeholder,
.b-input-el::-webkit-input-placeholder {
  color: #6b686b;
}
::-webkit-input-placeholder,
.placeholder,
.b-placeholder {
  color: #a1a0a2;
}
:-ms-input-placeholder,
.placeholder,
.b-placeholder {
  color: #a1a0a2;
}
::-ms-input-placeholder,
.placeholder,
.b-placeholder {
  color: #a1a0a2;
}
::placeholder,
.placeholder,
.b-placeholder {
  color: #a1a0a2;
}
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
input[type=number] {
  -moz-appearance: textfield;
}
label,
.label,
.b-label {
  display: block;
  font-weight: 600;
  padding-bottom: 0.375rem;
}
:focus,
.focus,
.b-focus {
  outline: #4d90fe solid 2px;
}
.error-border,
.b-error-border {
  border: solid 1px #d0021b;
}
input.b-error-border,
textarea.b-error-border,
.b-input.b-error-border {
  -webkit-box-shadow: inset 0 -1px 0 0 #d0021b;
          box-shadow: inset 0 -1px 0 0 #d0021b;
}
.error-text,
.b-error-text {
  color: #d0021b;
  display: inline-block;
  font-size: 85.7%;
  padding-top: 0.357rem;
}
:disabled,
.disabled {
  background-color: #fff;
  color: #333;
  cursor: not-allowed;
  opacity: 0.4;
}
li {
  color: #333;
}
/*# sourceMappingURL=src/main.css.map */