
.b-checkbox[data-v-2a4af1e6] {
  margin-bottom: 0.75rem;
}
.b-checkbox-group-label[data-v-2a4af1e6] {
  margin: 0 0 1rem 0;
}
label[data-v-2a4af1e6] {
  margin-right: 1.25rem;
  padding: 0;
}
input[data-v-2a4af1e6] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff;
  border: 1px solid #c4c3c4;
  border-radius: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 0.875rem;
  margin: 0 0.75rem 0 0;
  padding: 0.375rem;
}
input[data-v-2a4af1e6]:checked {
  padding: 0 0.092rem;
}
input[data-v-2a4af1e6]:checked::before {
  color: #20aded;
  content: "\F3FD";
  font-family: "Ionicons";
  font-size: 1.6em;
  line-height: 0.9rem;
}
input[data-v-2a4af1e6]:disabled {
  background-color: #dde0e0;
  border-color: #dde0e0;
}
input[data-v-2a4af1e6]:disabled:checked {
  background: none;
}
input[data-v-2a4af1e6]:disabled:checked::before {
  color: #dde0e0;
}
input[data-v-2a4af1e6]:focus {
  border-bottom: 1px solid #00aaed;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.b-input[data-v-3203eda1] {
  margin-bottom: 0.75rem;
}
.b-input-el[data-v-3203eda1] {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  cursor: text;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.b-input-el.b-focus[data-v-3203eda1] {
  -webkit-box-shadow: inset 0 -1px 0 0 #00aaed;
          box-shadow: inset 0 -1px 0 0 #00aaed;
  border: solid 1px #00aaed;
  outline: none;
}
.b-input-el.b-disabled[data-v-3203eda1] {
  background: #dde0e0;
  cursor: not-allowed;
  opacity: 0.4;
}
.b-input-el input[data-v-3203eda1] {
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
}
.b-input-el input[data-v-3203eda1]:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
input[type="date"][data-v-3203eda1] {
  padding-top: 0.594rem;
  padding-bottom: 0.594rem;
}
.b-content[data-v-0fadff18] {
  padding: 0.857rem;
}
.b-footer[data-v-0fadff18] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.b-footer > button[data-v-0fadff18] {
  background-color: transparent;
  border: none;
  padding-top: 0;
}
.b-footer > button[data-v-0fadff18]:focus {
  color: #00aaed;
  outline: none;
}
.b-footer > button[data-v-0fadff18]:hover {
  color: #00aaed;
}
.b-footer > button[data-v-0fadff18]:active {
  border-style: none;
}
.b-popup[data-v-0fadff18] {
  position: relative;
  z-index: 50;
}
.b-wrapper[data-v-0fadff18] {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px 0;
          box-shadow: 0 1px 2px 0;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: absolute;
}
div[data-v-0fadff18] {
  color: #363436;
}
.b-radio[data-v-5f26f2c3] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.b-radio-group[data-v-5f26f2c3] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.b-radio-group > div[data-v-5f26f2c3] {
  margin-bottom: 0.3125rem;
}
label[data-v-5f26f2c3] {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
input+label[data-v-5f26f2c3] {
  font-weight: normal;
  padding-bottom: 0;
  padding-right: 1.25rem;
}
input[data-v-5f26f2c3] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
  border-radius: 50%;
  border: 2px solid #c4c3c4;
  height: 1.063rem;
  margin-right: 0.3125rem;
  padding: 0;
  width: 1.063rem;
}
input+label[data-v-5f26f2c3] {
  font-weight: normal;
  padding-bottom: 0;
  padding-right: 1.25rem;
}
input[data-v-5f26f2c3]:checked::after {
  background: #00aaed;
  border-radius: 50%;
  content: '';
  display: block;
  height: 0.563rem;
  left: 0.125rem;
  position: relative;
  top: 0.125rem;
  width: 0.563rem;
}
input:disabled+label[data-v-5f26f2c3] {
  color: #605d60;
}
input[data-v-5f26f2c3]:disabled:checked {
  background: none;
}
input[data-v-5f26f2c3]:disabled:checked::after {
  background: #dde0e0;
}
input[data-v-5f26f2c3]:focus {
  border-width: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
}body {
  color: #363436;
  font-size: 87.5%;
  font-family: 'Open Sans', sans-serif;
}
.flex,
.b-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.column,
.b-flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.b-flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.b-flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
input,
.input,
textarea,
button,
.b-input-el {
  font: 400 1em 'Open Sans', sans-serif;
}
button {
  background-color: #fff;
  border: solid 1px #dededf;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.857rem;
}
button:not([disabled]):active {
  border-style: inset;
}
input,
textarea,
.input,
.b-input-el {
  background-color: #f5f6f8;
  border: 1px solid #f5f6f8;
  -webkit-box-shadow: inset 0 -2px 0 0 #c4c3c4;
          box-shadow: inset 0 -2px 0 0 #c4c3c4;
  padding: 0.75rem 0.9375rem;
}
input:focus,
.input:focus,
textarea:focus,
.b-input-el:focus {
  -webkit-box-shadow: inset 0 -1px 0 0 #00aaed;
          box-shadow: inset 0 -1px 0 0 #00aaed;
  border: solid 1px #00aaed;
  outline: none;
}
input:disabled,
textarea:disabled {
  background: #dde0e0;
  border-color: #dde0e0;
  color: #605d60;
  cursor: not-allowed;
  opacity: 1;
}
input::-webkit-input-placeholder,
.input::-webkit-input-placeholder,
.b-input-el::-webkit-input-placeholder {
  color: #6b686b;
}
::-webkit-input-placeholder,
.placeholder,
.b-placeholder {
  color: #a1a0a2;
}
:-ms-input-placeholder,
.placeholder,
.b-placeholder {
  color: #a1a0a2;
}
::-ms-input-placeholder,
.placeholder,
.b-placeholder {
  color: #a1a0a2;
}
::placeholder,
.placeholder,
.b-placeholder {
  color: #a1a0a2;
}
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
input[type=number] {
  -moz-appearance: textfield;
}
label,
.label,
.b-label {
  display: block;
  font-weight: 600;
  padding-bottom: 0.375rem;
}
:focus,
.focus,
.b-focus {
  outline: #4d90fe solid 2px;
}
.error-border,
.b-error-border {
  border: solid 1px #d0021b;
}
input.b-error-border,
textarea.b-error-border,
.b-input.b-error-border {
  -webkit-box-shadow: inset 0 -1px 0 0 #d0021b;
          box-shadow: inset 0 -1px 0 0 #d0021b;
}
.error-text,
.b-error-text {
  color: #d0021b;
  display: inline-block;
  font-size: 85.7%;
  padding-top: 0.357rem;
}
:disabled,
.disabled {
  background-color: #fff;
  color: #333;
  cursor: not-allowed;
  opacity: 0.4;
}
a:link {
  color: #4d90fe;
  text-decoration: none;
}
li {
  color: #333;
}
/*# sourceMappingURL=src/main.css.map */